<div class="container">
  <div class="navbar">
    <mat-icon class="navbar__scroll">arrow_back</mat-icon>
    <mat-icon class="navbar__homepage">home</mat-icon>
  </div>
  
  <div class="header">
    <div class="title__box">
      <div class="title">Daft Punk</div>
    </div>

    <img src="assets/images/daft-punk.jpg" class="punk">

    <div class="bio">Daft Punk were a French electronic music duo formed in 1993 in Paris by Thomas Bangalter and Guy-Manuel de Homem-Christo. Widely regarded as one of the most influential acts in dance music history, they achieved popularity in the late 1990s as part of the French house movement. They garnered critical acclaim and commercial success in the years following, combining elements of house music with funk, disco, indie rock and pop. </div>

  </div>

  <div class="interview__section">
    <div class="interview__box">
      <div class="interview">Interview Clips</div>
    </div>
    <div class="group__row">
      <div class="clip">hi</div>
      <div class="clip2">hi</div>
      <div class="clip2">hi</div>
    </div>

  </div>
</div>

