<div class="container">
    <div class="navbar">
      <mat-icon class="navbar__scroll">arrow_downward</mat-icon>
      <mat-icon class="navbar__homepage">home</mat-icon>
    </div>
    
    <img class='flipbook1' src="assets/images/flipbook.gif">
    <img class='flipbook2' src="assets/images/flipbook.gif">
  
    <div class='title__container'>
      <div class="title__box">
        <div class="title__box__text">MAD-HOUSE</div>
        <div class="semi__title__box">
          <div>My Artist Database</div>
        </div>
      </div>
    </div>
  
    
    <div class="album__collage">
        <img class="collage" src="assets/images/album.jpg">
    </div>
  
    <div class ="divider">
      <hr class="divider__ac">
    </div>
  
    <h3 class="box__title">Artist Pages</h3>
  
    <div class="box">
      <div class="box__artists">Death Grips</div>
      <div class="box__artists">MF DOOM</div>
      <a class="box__artists__done" routerLink="/daft">Daft Punk</a>
      <div class="box__artists">Wu-Tang Clan</div>
      <div class="box__artists">Kanye West</div>
      <div class="box__artists">JPEGMAFIA</div>
      <div class="box__artists">Danny Brown</div>
      <div class="box__artists">Tyler, The Creator</div>
      <div class="box__artists">Hiatus Kaiyote</div>
      <div class="box__artists__add">
        <div>ADD MORE +</div>
      </div>
    </div>
  
    <div class="navbar">
      <mat-icon class="navbar__scroll">arrow_upward</mat-icon>
    </div>
  </div>
  
  <input type="text" class="input" placeholder="Enter Tweet Link">
  <a href="result/1486891787872575488">
      <button class = "searchbtn "id = "searchbtn">GO</button>
  </a>
